! Colors
urxvt.foreground:   #d8eae9
urxvt.background:   #14191f
urxvt.cursorColor:  #d8eae9

! black
urxvt.color0:       #211717
urxvt.color8:       #873d3d

! red
urxvt.color1:       #9e1a1a
urxvt.color9:       #a32626

! green
urxvt.color2:       #576b22
urxvt.color10:      #909a2d

! yellow
urxvt.color3:       #ce7a3f
urxvt.color11:      #dd7c38

! blue
urxvt.color4:       #2c5f89
urxvt.color12:      #6eaee4

! magenta
urxvt.color5:       #714c7d
urxvt.color13:      #cb8ade

! cyan
urxvt.color6:       #427e76
urxvt.color14:      #7ec9bf
! white
urxvt.color7:       #8f9eae
urxvt.color15:      #bed2e8

! Transparency
urxvt*transparent:	true
urxvt*shading:		15

! Font
urxvt*font:		xft:Inconsolata:size=14:antialias=true

urxvt.scrollBar: 	false
