! URxvt extensions
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: False

URxvt.perl-ext-common: default,resize-font

! Transparency
*.transparent:	true
*.shading:	20

! Blur
*.blurRadius:	5


! Font
*.font:		xft:UbuntuMono:size=12:antialias=true

! Get rid of scrollbar
*.scrollBar: 	false

! Letter spacing
*.letterSpace: 	0
*.lineSpace:	0

! Internal Border
!*.internalBorder: 	10


! special
*.foreground:   #c8c8c8
!*.background:   #373c41
*.cursorColor:  #c8c8c8

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #893030
*.color9:       #c14f4f

! green
*.color2:       #608431
*.color10:      #7aed6b

! yellow
*.color3:       #a1ad78
*.color11:      #acd78f

! blue
*.color4:       #58748d
*.color12:      #3c80ba

! magenta
*.color5:       #72567c
*.color13:      #a963be

! cyan
*.color6:       #5b837f
*.color14:      #7ac6bc

! white
*.color7:       #717c85
*.color15:      #b5cdc4
