/* no tabs */
#TabsToolbar { visibility: collapse !important; }

/* remove header in side bar */
#sidebar-header { display: none; }

/* set browser content to be top window (setting tabs/url bar to bottom) */
#browser { -moz-box-ordinal-group: 0 !important; }

/* make search suggestions grow upwards now that the bar is at the bottom */
#urlbar {
	top: unset !important;
	bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	box-shadow: none !important;
	display: flex !important;
	flex-direction: column !important;
}
